.idea/

# Specific to this project
.tested
dmk
dmk.exe
cover.out
debug
debug.test
res/*.txt
res/*.output

# We use Python 3 for some utility scripts
*.pyc
__pycache__

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
